nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */

nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

main .form-control {
    /* Center form controls */
    display: inline-block;

}

main {
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main table {
    text-align: left;

}

main tfoot {
    font-weight: bold;
}

main img {
    /* Constrain images on small screens */
    max-width: 100%;
}


/*------------------------------------------------------*/

option:checked,
option:hover {
    color: white;
    background: #488f8f repeat url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}


/*login*/

.flex-container {
    display: flex;
    justify-content: space-between;
}

.login-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.login-form {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;

}

.login-form h4 {
    text-align: center;
    color: #333;
    margin-bottom: 5%;
}


.login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

/*-------------------*/

/*Register*/

.register-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.register-form {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

.register-form h4 {
    text-align: center;
    color: #333;
    margin-bottom: 5%;
}

.register-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}


/*-------------------------*/

/*User Profile page */

/*Show more/less profile*/

.remaining-content span {
    display: none;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem!important;
}

.shadow-none {
    box-shadow: none!important;
}

.bio-row {
    width: 100%;
    /*float: left;*/
    margin-bottom: 10px;
    padding: 0 15px;
}

.material-icons msg {
    font-size: 5em;
}

/*report / block */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.block {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;

    background-color: #BC0631;
    border-color: #BC0631;
    color: #fff;
    width: 100%;

}

.contentshare {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    color: #ccc;
    /*padding: 7px;*/
    background: #fff;
    border: 1px solid #DEDEDE;
}

.contentshare .btn-danger {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    width: 65%;
    color: #999;
}

.togetherbutton {
    padding: 8px 0 8px 0!important;

}


/*------ index page ---------*/

body {
    margin-top: 20px;
    background: #F5F5F5;
}

.user-controls {
    padding: 16px 0 0;
}

.pading-box {
    padding: 16px 0 0;
    width: 100%;
}


/* msg center */

.msg card {
    background-color: #eee;
    overflow: auto;
    padding: 7px 0px 7px 0px;
}

.msg card-body {
    /*padding: 1rem !important;*/
    color: #212529;
}

.msg .msg-title {
    padding: 5px;
}


.msgId {
    background-color: #eee;
    /*background-color: #f8f8f8;*/
    padding: 5px;
    height: auto;
    max-height: 292px;
    overflow-y: auto;
    /*box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);*/
}


/*--------------------------------------*/

/* users profile List */

.profile-list {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.profile-list:hover {
    -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
    position: relative;
    z-index: 99;
}

.profile-list:hover a.profile-list-favourite {
    color: #e74c3c;
    -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
}

.profile-list .profile-list-image {
    margin-right: 25px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    border: none;
}

.profile-list .profile-list-image img {
    width: 80px;
    height: 80px;
}

.profile-list-title {
    margin-bottom: 5px;
}

.profile-list-details ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.profile-list-details ul li {
    margin: 5px 10px 5px 0px;
    font-size: 13px;
}

.profile-list .profile-list-favourite-time {
    margin-left: auto;
    text-align: center;
    font-size: 13px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}

.profile-list .profile-list-favourite-time span {
    display: block;
    margin: 0 auto;
}

.profile-list .profile-list-favourite-time .profile-list-favourite {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    line-height: 40px;
    /*border: 1px solid #eeeeee;*/
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    font-size: 16px;
    color: #646f79;
}

.profile-list .profile-list-favourite-time .profile-list-favourite:hover {
    background: #ffffff;
    color: #e74c3c;
}

.profile-banner .profile-list:hover {
    position: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: inherit;
}


/* profile Grid */

.profile-list.profile-grid {
    padding: 0px;
    display: block;
    border-bottom: none;
}

.profile-grid .profile-list-image {
    text-align: center;
    margin-right: 0px;
}

.profile-grid .profile-list-image img {
    height: 150px;
    width: 100%;
}

.profile-grid .profile-list-details {
    text-align: center;
    padding: 20px 20px 0px 20px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.profile-grid .profile-list-details ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.profile-grid .profile-list-details ul li {
    margin: 2px 5px;
}

.profile-grid .profile-list-favourite-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #eeeeee;
    margin-top: 10px;
    padding: 10px 0;
}

.profile-grid .profile-list-favourite-time a {
    margin-bottom: 0;
    margin-left: auto;
}

.profile-grid .profile-list-favourite-time span {
    display: inline-block;
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
}

.profile-list.profile-grid .profile-list-favourite-time .profile-list-favourite {
    margin-bottom: 0px;
}

.owl-carousel .profile-list.profile-grid {
    margin-bottom: 20px;
}

/*profile scrolling*/

.pro {
    background-color: #f2f2f2;
    height: 700px;
    overflow: auto;
    /*padding: 10px;*/
}



/*---------------*/

/*search profiles table*/

/*https://codeconvey.com/Tutorials/responsive-html-css-table/*/

th,
td {
    text-align: center;
    vertical-align: middle;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    	Label the data
    	*/
    /*td:nth-of-type(1):before {*/
    /*    content: "Name";*/
    /*}*/
    /*td:nth-of-type(2):before {*/
    /*    content: "Gender";*/
    /*}*/
    /*td:nth-of-type(3):before {*/
    /*    content: "Age";*/
    /*}*/
    /*td:nth-of-type(4):before {*/
    /*    content: "height";*/
    /*}*/
    /*td:nth-of-type(5):before {*/
    /*    content: "Profession";*/
    /*}*/
    /*td:nth-of-type(6):before {*/
    /*    content: "State";*/
    /*}*/
    /*td:nth-of-type(7):before {*/
    /*    content: "country";*/
    /*}*/
    /*td:nth-of-type(8):before {*/
    /*    content: "origin";*/
    /*}*/
}

/*----------------------------------------*/

/*Profile Edit*/

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #007EA5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu ul a {
    text-decoration: none;
}

.menu li:hover {
    background-color: #AD057F;
}




* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
