{% extends "layout.html" %} {% block title %} Terms and Conditions {% endblock %} {% block main %}


<div class="container register-container">
    <div class="row text-left">
        <h1>Terms and Conditions</h1>
        <hr>
        <p>
            <h5>Terms and Conditions for Membership between MyMate and the Customer</h5>
        </p>

        <p>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. BY USING THE MYMATE WEBSITE, YOU AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS.</p>

        <p>This Internet web site is provided by MyMate ('the Company'). This is a legal agreement between you and MyMate. By using this website, you agree to be bound to the following Terms and Conditions. If you do not agree with these terms and
            conditions then you are not authorised to use or access this web site. The application form is a contractual offer by you to us subject to these Terms and Conditions and no others. On acceptance by us, there exists a binding contractual relationship
            between you and us. This document ('The Membership Terms and Conditions') sets out the relationship between you and the Company. The Company agrees with you as follows: Definitions, In this agreement the following words shall have the following
            meanings: 'Us' refers to MyMate and 'we' and 'our' will be construed accordingly. 'You' refers to the customer or user who uses the site subject to these Terms and Conditions and 'your' will be construed accordingly. 'Advertisement' refers
            to the Advertisement(s) placed by you on the MyMate web site. 'Site' means our web site located at www.MyMate.com, and 'Content' means the information and other material available within the Site. </p>

        <ol>
            <li>
                <h6> Membership Conditions</h6>
                <ol>
                    <li>We are a private members club and will only accept membership applications from single, widowed, divorced or legally separated adults, over 18 years of age. No children are eligible to apply for such membership. </li>
                    <li>Your membership is for your sole, personal use only. You may not authorise others to use your membership, and you may not assign or otherwise transfer your account to any other person or entity. </li>
                    <li>We cooperate with law enforcement enquiries including other parties’ rights to enforce laws such as intellectual property rights fraud and other rights. You expressly authorise us to disclose any information about you to law enforcement
                        and other Government Agencies including the Police which we at our sole discretion believe necessary or appropriate in connection with any fraud, intellectual property infringements or other activity which is or may be illegal
                        or may expose us to legal liability. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Membership Fees</h6>
                Prior to acceptance by us of your Advertisement you will submit to us:
                <ol>
                    <li> A completed application form; </li>
                    <li>The necessary fee, which shall be made payable to “MyMate Ltd” from whom all transaction receipts will be issued; </li>
                    <li>One non-returnable photograph for display as part of the member profile on the site or one colour image sent electronically via e-mail in such format as we notify you in advance. </li>
                    <li>You agree to pay for our service:
                        <ul>
                            <li>If applying on-line, by way of payment from a debit or credit card (which either belongs to you or which you are otherwise authorised to use), Paypal, Stripe, or In-App purchase, we will be entitled to receive payment on the
                                same working day of each month for the duration of your membership. <b>No refunds will be given</b> either in whole or part unless their is an agreed error by both parties and must be done via email. You acknowledge and
                                agree that you are obliged to give us 28 days' notice before canceling this payment method and that during the 28 day cancellation period, you may be required to make a further monthly payment if the payment due date falls
                                during this cancellation period. You also acknowledge and agree that such notice will only be validly given by the completion and transmission by you to us of our on-line payment cancellation form.</li>
                            <li>If applying other than on-line, by way of payment in advance ('the Advance Payment'). You acknowledge and agree that in no circumstances will the Advance Payment be refundable by us (whether in whole or in part) unless their
                                is an agreed error by both parties and must be done via email. When paying by this method you agree to pay for either a <b>minimum period of 1 month</b> or such longer period as is agreed between you and us (in each case
                                'the Period'). Your membership will expire automatically at the end of the Period.</li>
                        </ul>
                    </li>
                    <li>It is your responsibility to ensure that we receive prompt payment, as we will not be held responsible for payment not being received. </li>
                    <li>If the fee is not paid on or before the due date, we shall, until actual payment of the fee, have the right to suspend display of or cancel membership. </li>
                    <li>The fee in respect of subsequent periods shall be in accordance with our then current rate card, which we may vary from time to time, provided notice thereof has been given to you not less than 30 days before the end of the relevant
                        period.
                    </li>
                    <li>Delivery times for services purchased on the site can vary from instant access to 48 hours, depending on your payment method. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Your Responsibilities</h6>
                <ol>
                    <li>You must satisfy yourself as to the bona fides of those to whom you are introduced. You are solely responsible for your interactions with other members. We reserve the right, but have no obligation, to monitor disputes between you
                        and other members. It is solely your responsibility to ensure your own safety when meeting/communicating with other members both on and off the site.
                    </li>
                    <li>The data posted to a profile has to accurately reflect the details of only the single person using the profile. It is your responsibility to ensure the accuracy of all details (personal or otherwise) provided by you about yourself
                        to us for inclusion in your Advertisement. It is your responsibility to inform us of any changes to personal details or circumstances at the earliest opportunity. You are solely responsible for the content or information you transmit
                        to other members.
                    </li>
                    <li>Individuals are only permitted to have a single member profile on the site, under no circumstances are duplicate or test profiles allowed.
                    </li>
                    <li>You will not post on our service, or transmit to other members or employees, any defamatory, inaccurate, abusive, obscene, profane, offensive, sexually oriented, threatening, harassing, racially offensive, religiously offensive, sectarian,
                        or illegal material, or any material which infringes or violates another party's rights (including, but not limited to, proprietary rights, and rights of privacy).
                    </li>
                    <li>You will not include within your profile content any personal contact information or clues pertaining to personal contact information including, but not limited to; Email, Phone, Social Media, Street address, Full name, URL, chat app
                        or any other communication systems.
                    </li>
                    <li>You will not use offensive anatomical or sexual references, or offensive sexually suggestive or connotative language, and you will not post any photos containing nudity or personal information.
                    </li>
                    <li>You will not engage in advertising to, or solicitation of, other members to buy or sell any products or services through the Service. You will not transmit any chain letters, junk or spam mail or messages to other members.
                    </li>
                    <li>If you do advertise or promote any service without permission (permission will only be given in writing) you agree to pay a standard advertising rate of $300 per day for everyday your account has been on singlemuslim.com starting from
                        the day you registered. You will be personally liable if we are not able to recover the sum of monies from the company advertised and we will take legal action to enforce this.
                    </li>
                    <li>You will not post, distribute or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior consent of the owner of such proprietary rights.
                    </li>
                    <li>Abuse to staff, zero tolerance policy, we will not tolerate any abuse towards any of the Site admin staff at any time.
                    </li>
                    <li>You will use our service in a manner consistent with any and all applicable laws and regulations. We reserve the right, but have no obligation, to reject any profile or photo which does not comply with these prohibitions.
                    </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Our Responsibilities</h6>
                <ol>
                    <li> We reserve the right to reject an application on any basis and without providing a reason.</li>
                    <li> We reserve the right to expel you immediately in the event that your behaviour has caused complaint and we consider that complaint to be serious and justified. No refunds will be provided. </li>
                    <li> We reserve the right to suspend, amend, or delete any profile, without notice, if we deem; it to be inappropriate; or acting in an inappropriate manner; or breaking the site Terms and Conditions or site Code of Conduct; or for other
                        safety and security reason. </li>
                    <li> It is your responsibility to delete your profile after your membership has expired, unless you choose to renew your membership and pay the further applicable fees, or wish your profile to remain visible on our service. </li>
                    <li> Signing and submitting the application form, for processing, authorises us to disclose your chosen methods of contact to other members and display your photograph as part of your member profile. </li>
                    <li> We reserve the right to monitor the messaging service and other 'Community facilities' (as defined in clause 16 below) to ensure compliance with these terms and conditions and for ongoing development of the site. </li>
                    <li> We reserve the right to modify the services without giving any prior notice. </li>
                    <li> In the event that you receive via the Site an e-mail or other communication from another member which you consider to be either defamatory, abusive, obscene, profane, threatening, harassing, racially offensive or illegal, or which
                        you consider in any other way infringes the rights of you or another (in all cases an 'Offensive Message'), you should (1) print off and retain a hard copy and (2) save in electronic format a copy of each such Offensive Message.
                        Being able to produce a copy of the Offensive Message is likely to be necessary if you wish to take further action in respect of such Offensive Message either by way of complaint to us, the Police or any other regulatory body.
                        For the avoidance of doubt we confirm that we are unable to store and/or trace every e-mail or other communication passing between our members. We repeat that no liability can attach to us as a result of your receipt of the type
                        of communication referred to in this Paragraph. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6>Liability</h6>
                <ol>
                    <li>We do not accept any liability for your conduct or behaviour after an introduction has been made nor for any information being forwarded on to a third party. We accept no liability for any act conduct or your behaviour or comments
                        to or with third parties at social events or in the chat rooms. Your statutory rights in relation to any goods or services purchased through the Site are not affected. </li>
                    <li>Opinions, advice, statements, offers, or other information or content made available through our service are those of their respective authors and not ours, and should not be relied upon. Such authors are solely responsible for such
                        content. We do not guarantee the accuracy, completeness, or usefulness of any information on the service and neither adopt nor endorse nor are responsible for the accuracy or reliability of any opinion, advice, or statement made.
                        Under no circumstances will we be responsible for any loss or damage resulting from anyone 's reliance on information or other content posted on our service, or transmitted to our members. </li>
                    <li>IMPORTANT - PLEASE READ: It is possible that other customers or users (including unauthorised users, or 'hackers ') may post or transmit offensive or obscene materials on the site and which you may be involuntarily exposed to such
                        offensive and obscene materials. We are not responsible for the use of any personal information which you may choose to disclose, or as a result of using, our services. Please carefully select the type of information which you
                        post on the site or release to other customers. </li>
                    <li>We do not have the obligation nor responsibility or the technical means to verify the identity of persons who register as members or use our services, or to verify member content. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6>Indemnity</h6>
                <ol>
                    <li>You will defend, indemnify, and hold harmless our officers, directors, employees, agents and third parties, for any losses, costs, liabilities and expenses (including legal costs) relating to or arising out of your use of our service,
                        including any breach by you of the terms of this agreement. </li>
                </ol>
            </li>

            <br>

            <li>
                <h6>Data Protection</h6>
                <ol>
                    <li>From time to time, we will provide other companies some of your details so that you may receive other offers and information which may be of interest to you. If you would rather your details are not passed on then please confirm this
                        in writing to us either via our Postal Address or via our contact form </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Term</h6>
                <ol>
                    <li>This agreement shall continue for successive fixed periods of 12 months unless either you or ourselves has given the other not less than 28 days' prior written notice of termination to take effect at the end of any such fixed period.
                    </li>
                    <li>We may terminate this agreement forthwith if you breach any term of this agreement and (if capable of remedy) has not been remedied within days of being notified of the breach by us. </li>
                    <li>Any rights accrued prior to termination of this agreement shall survive its termination including your obligation to make payment in accordance with clause 3.2. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Force Majeure</h6>
                <ol>
                    <li>We accept no liability for any temporary or even permanent unavailability of the Site arising from events of any kind or circumstances which are outside our control even though we shall use all reasonable endeavours to minimise or
                        mitigate the effects of any such force majeure. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Availability </h6>
                <ol>
                    <li>You acknowledge that it is technically impossible to provide the Site free of faults and that we do not undertake to do so; that faults may lead to the temporary unavailability of the Site; and that the operation of the Site may be
                        adversely affected by conditions and performances outside our control, including, without limitation, transmission and telecommunications links between us and you and between us and other systems and networks. We and/or our suppliers
                        may make improvements and/or changes in or to the Site at any time. </li>
                    <li>The Site in not available in all territories.</li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Intellectual Property and Use of Software</h6>
                <ol>
                    <li>You acknowledge that all copyright, trademarks and all other intellectual property rights in the Content shall remain vested in us or our licensors. Your use of any software that is made available to download from the Site or via any
                        hyperlink contained on the Site ( 'Software') is governed by the terms of the end user license agreement, if any, which accompanies or is included with the Software ( 'Licence Agreement').</li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Warranty</h6>
                <ol>
                    <li>We will perform our services with reasonable care and skill. No representation or warranty is given that the services will be uninterrupted or error free or that all errors or defects can be corrected or remedied. </li>
                    <li>We will not be responsible for any loss or damage sustained or incurred by any third party (including without limitation, any loss of use of any software or equipment, or loss of or spoiling of any data) resulting from any defect,
                        deficiency or error in any equipment or software or any associated documentation, or for any failure or interruption of any telecommunications facilities or network systems which is beyond our control. </li>
                    <li>You further acknowledge that some of the Content is supplied to us (directly and indirectly) by third parties and accordingly we can offer no warranty of whatever nature in relation to such Content. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Security</h6>
                <ol>
                    <li>You are responsible for the security and proper use of your user names and passwords used from time to time in connection with the Site and you must take all necessary steps to ensure that they are kept confidential, secure, used properly
                        and not disclosed to unauthorised people. </li>
                    <li>You must immediately inform us if there is any reason to believe that your user name and password has or is likely to become known to someone, not authorised to use it, or is being or is likely to be used in an unauthorised way. </li>
                    <li>We reserve the right to suspend user name and password access to the Site and the Services immediately if we consider that there is or is likely to be a breach of security. </li>
                    <li>We reserve the right (at our sole discretion) to require you to change any or all of the passwords used by you in connection with the site.</li>
                    <li>You must immediately inform us of any changes to the information you supplied when registering for the Site.</li>
                    <li>We reserve the right to suspend user name and password access to the Site and the Services immediately, if we consider that there has been any mis-use of the site.</li>
                    <li>We reserve the right to verify the details of any member of the Site, and ask them to satisfy such security checks as we operate.</li>
                    <li>We reserve the right to review any and all communications made via the Site for security purposes.</li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Personal Information Policy</h6>
                <ol>
                    <li>We specifically ask when we need information that personally identifies you ('Personal Information'). </li>
                    <li>We may, occasionally, use your Personal Information to inform you of new services and products from us. </li>
                    <li> If you do not wish to receive such information from us or directly from other suppliers please inform us in writing. </li>
                </ol>
            </li>
            <br>
            <li>
                <h6> Copyright Notice</h6>
                All material on this website is copyright.
            </li>
            <br>
            <li>
                <h6> ALL RIGHTS RESERVED</h6>
                Any use of materials on this website without prior written permission of MyMate is strictly prohibited.
            </li>
        </ol>
    </div>
</div>

{% endblock %}
